body {
	background-color: #efeee7;
	font-family: "Arial", "Helvetica Neue", serif
	"Georgia", "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 1.5;
}

.name {
	padding: 10px 20px;
	position: absolute;
	padding-top: 25px;
	left: 280px;
	display: inline-block;
	background-color: #4aaaa5;
	padding-top: 31px;
	padding-bottom: 10px;
	font-size: 34px;
	color: #fff;
}

h2 {
	font-size: 24px;
	font-family: "Georgia", "Times", "Times New Roman";
	color: #4aaaa5;
	padding-top: 20px;

}

h3 {
	font-size: 24px;
	font-family: "Georgia", "Times", "Times New Roman";
	color: #4aaaa5;
}

.container {
	width: 100%;
	margin-bottom: 0;
}

.containerheader {
	width:100%;
	height: 90px;
	margin-bottom: 40px;
	margin-top: 5px;
	background: white;
}
	
.containeraboutme {
	width: 45%;
	margin-left: 15%;
	margin-bottom: 35px;
	background: white;
	margin: 0 auto;
	border: .5px solid #ccc;

	
}

.contact {
	text-align: right;
	padding-top:0;
	color: #ffffff;
}

#biopic {
	height: 300px;
	width: 200px;
	float: left;
	margin: 10px;
}

a {
	text-decoration: none;
	padding-right: 15px;
}

.navbar {
	float:right;
	margin-top:30px;
	padding:20px;
	margin-right: 90px;
}

#description {
	font-family: font-family: "Arial", "Helvetica Neue",
	"Georgia", "Times New Roman"
	font-size: 14px;
}

.connect {
	text-align: center;
	position: absolute;
	top: 125px;
	right: 75px;
	background: white;
	width: 17%;
	margin-bottom: 30px;
	margin-top: 20px;
	border: .5px solid #dddddd;
}

footer {
	clear: both;
	bottom: 0px;
	text-align: center;
	color: #fff;
	border-top: 5px solid #4aaaa5;
	background: gray;
	margin-top: 80px;
	padding-top: 36px;
    margin-bottom: -12px;
    padding-bottom: 30px;

}

footer p {
	padding-top:30px;
	margin-bottom: 0px;
}


.contactMe {
	margin: 0 auto;
	width: 400px;
	height: 400px;
	background: white;
	padding-right: 40px;
	padding-left: 130px;
}

.connectText {
	margin-bottom: 25px;
	border-bottom: .5px solid gray;
}

body {
	background: url(../images/background.png)
}


.containerPortfolio {
	
	margin-left: 35px;
	margin-bottom: 35px;
	background: white;
	margin: 0 auto;
	border: .5px solid gray;
	padding: 30px;
    overflow: auto;

}

.placeholderImages {
	position: relative;
	float: left;
	padding: 30px;
}

.placeholderImages p {
	margin-top: -50px;
	margin-bottom: 50px;
	background: #4aaaa5;
	text-align: center;
	color: white;
	border: 2px solid #4aaaa5;
	position: relative;
}


